.headerTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 80px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}


.title{
  color: var(--primary);
  text-align: center;
  margin: 0;
}

.titleSecondWord {
  color: var(--secondary);
}

.loginButtonContainer {
  position: absolute;
  right: 1rem;
  top: 20%;
  transform: translateY(-50%);
}